{{#burger-menu as |burger|}}
  {{#burger.menu
    dismissOnItemClick=true
    itemTagName="li" as |menu|}}

    <button class="c-button button-reset"
      {{action burger.state.actions.close}} >
      <i class="icon-close"></i>
    </button>

    <ul>
      {{#menu.item}}
        {{link-to 'Home' 'index'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Gallery' 'gallery'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Shop' 'shop'}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <grid class="site-nav">
      <hbox fit align="center">
        <button
          class="c-button button-reset {{burger.state.position}} {{if burger.state.open 'burger-hidden'}}"
          {{action burger.state.actions.toggle}}>
          {{svg-jar 'burger-menu' height="25" width="25"}}
        </button>
      </hbox>
      <hbox fill>
        <hbox xs="6" sm="3" align="center"><img class="logo" alt="Ember" src="../../ember-logo.png"></hbox>
      </hbox>
    </grid>
    <hbox justify="center">
      <box fill xs="11" sm="10">
        {{yield}}
      </box>
    </hbox>
  {{/burger.outlet}}
{{/burger-menu}}
